{% extends 'base.html' %}

{% block content %}
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui neque laudantium tenetur ad aliquid enim iusto eaque sed perferendis voluptates non veritatis consequatur consequuntur adipisci, nulla alias harum fugit labore error! Odio minima nulla id saepe neque. Non, amet optio, sunt veritatis rem hic, quae repellat commodi modi deleniti magni?</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui neque laudantium tenetur ad aliquid enim iusto eaque sed perferendis voluptates non veritatis consequatur consequuntur adipisci, nulla alias harum fugit labore error! Odio minima nulla id saepe neque. Non, amet optio, sunt veritatis rem hic, quae repellat commodi modi deleniti magni?</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui neque laudantium tenetur ad aliquid enim iusto eaque sed perferendis voluptates non veritatis consequatur consequuntur adipisci, nulla alias harum fugit labore error! Odio minima nulla id saepe neque. Non, amet optio, sunt veritatis rem hic, quae repellat commodi modi deleniti magni?</p>

{% endblock %}