{% extends 'base.html' %}

{% block content %}
<p>Это сайт группы разработчиков MADI AI, на котором размещается актуальная информация о ценах акций и интерактивные графики отображающие эти данные.</p>
<p>Нажав на логотип MADI AI, у вас откроется официальный телеграм бот, в котором также можно получить эту информацию, но только за последние 30 дат и в виде изображения.</p>
<p>Нажав на кнопку 'графики', у вас откроется меню, в котором вы можете выбрать акцию, интерактивный график которой вы хотите просмотреть.</p>
{% endblock %}